<div class="checkout-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFromGroup">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">

                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['checkBlanksValidation']">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName?.errors?.['minlength']">
                                        First Name must be at least 2 characters long
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">

                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['checkBlanksValidation']">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName?.errors?.['minlength']">
                                        Last Name must be at least 2 characters long
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">

                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="email?.errors?.['required']">
                                        Email is required
                                    </div>
                                    <div *ngIf="email?.errors?.['pattern']">
                                        Email must be a valid email address format
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- shipping address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="country" type="text">

                                <div *ngIf="country?.invalid && (country?.dirty || country?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="country?.errors?.['required']">
                                        Country is required
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="street?.invalid && (street?.dirty || street?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="street?.errors?.['required']">
                                        Street is required
                                    </div>
                                    <div *ngIf="street?.errors?.['minlength']">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="city?.invalid && (city?.dirty || city?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="city?.errors?.['required']">
                                        City is required
                                    </div>
                                    <div *ngIf="city?.errors?.['minlength']">
                                        City must be at least 2 characters long
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="state" type="text">
                                <div *ngIf="state?.invalid && (state?.dirty || state?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="state?.errors?.['required']">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="zipCode?.errors?.['required']">
                                        Zip code is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- billing same as shipping checkbox-->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="mirrorShipping($event)">
                        <span class="au-checkmark"></span> Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- billing address-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="country" type="text">

                                <div *ngIf="bcountry?.invalid && (bcountry?.dirty || bcountry?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="bcountry?.errors?.['required']">
                                        Country is required
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="bstreet?.invalid && (bstreet?.dirty || bstreet?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="bstreet?.errors?.['required']">
                                        Street is required
                                    </div>
                                    <div *ngIf="bstreet?.errors?.['minlength']">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="bcity?.invalid && (bcity?.dirty || bcity?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="bcity?.errors?.['required']">
                                        City is required
                                    </div>
                                    <div *ngIf="bcity?.errors?.['minlength']">
                                        City must be at least 2 characters long
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="state" type="text">
                                <div *ngIf="bstate?.invalid && (bstate?.dirty || bstate?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="bstate?.errors?.['required']">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="bzipCode?.invalid && (bzipCode?.dirty || bzipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="bzipCode?.errors?.['required']">
                                        Zip code is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- credit card-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit card</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Type</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="cardType?.invalid && (cardType?.dirty || cardType?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="cardType?.errors?.['required']">
                                        Card type is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Name on Card</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="nameOnCard?.invalid && (nameOnCard?.dirty || nameOnCard?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="nameOnCard?.errors?.['required']">
                                        Name on card is required
                                    </div>
                                    <div *ngIf="nameOnCard?.errors?.['minlength']">
                                        Name on card must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Number</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="cardNumber?.errors?.['required']">
                                        Card number is required
                                    </div>
                                    <div *ngIf="cardNumber?.errors?.['pattern']">
                                        Card number must be a valid credit card format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Security Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="securityCode?.invalid && (securityCode?.dirty || securityCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="securityCode?.errors?.['required']">
                                        Security code is required
                                    </div>
                                    <div *ngIf="securityCode?.errors?.['pattern']">
                                        Security code must be a valid security code format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Expiration Month</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                    <div *ngIf="expirationMonth?.invalid && (expirationMonth?.dirty || expirationMonth?.touched)" class="alert alert-danger mt-1">
                                        <div *ngIf="expirationMonth?.errors?.['required']">
                                            Expiration month is required
                                        </div>
                                    </div>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Expiration Year</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                    <div *ngIf="expirationYear?.invalid && (expirationYear?.dirty || expirationYear?.touched)" class="alert alert-danger mt-1">
                                        <div *ngIf="expirationYear?.errors?.['required']">
                                            Expiration year is required
                                        </div>
                                    </div>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- review order-->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{totalPrice | currency:'EUR'}}</p>
                </div>

                <!-- submit button-->
                <div class="text-center">
                    <button (click)="onSubmit()" type="button" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>

    </div>
</div>